@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
} /*10px*/

:root {
  /* colors */
  --dark-blue: #0b0d17;
  --light-blue: #d0d6f9;
  --white: #ffffff;

  /* other vars */
  --fluid-width: 90vw;
  --max-width: 1050px;
  --transition: all 0.3s ease;
  --heading-font: "Bellefair", serif;
  --subheading-font: "Barlow Condensed", sans-serif;
  --body-font: "Barlow", sans-serif;
}

body {
  background: var(--white);
  font-family: var(--body-font);
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  /* margin-bottom: 1.38rem; */
  font-family: var(--heading-font);
  font-weight: 400;
  line-height: 1.25;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  font-size: 15rem;
}

h2 {
  font-size: 10rem;
}

h3 {
  font-size: 5.6rem;
}

h4 {
  font-size: 3.2rem;
}

h5 {
  font-size: 2.8rem;
  font-family: var(--subheading-font);
}

small,
.text_small {
  font-size: 0.8rem;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* project css */
/*
===================
    Home Page
=================== 
*/

.hero-img {
  background: url(../assets/home/background-home-mobile.jpg) center/cover
    no-repeat;
  min-height: 100vh;
}

nav {
  height: 9.6rem;
}

.nav-center {
  width: var(--fluid-width);
  /* max-width: var(--max-width); */
  padding: 2.4rem 0 0;
  margin: 0 auto;
}

.navlinks {
  transform: translateX(100%);
  width: 67vw;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40px);
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 5.12rem;

  /* transition: var(--transition); */
}

.show-navlinks {
  transform: translateX(0);
}

.close-menu {
  width: 2rem;
  align-self: flex-end;
}

.navlinks a {
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 0.27rem;
  padding: 1.04rem 0;
  display: block;
  font-family: "Barlow Condensed", sans-serif;
}

ul .no {
  font-weight: bold;
  margin-right: 0.48rem;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 4rem;
}

.container {
  width: var(--fluid-width);
  max-width: var(--max-width);
  margin: 0 auto;
}

.hero {
  color: var(--light-blue);
}

.text {
  margin: 1.6rem 0 8.8rem;
  text-align: center;
}

.sub-heading {
  font-size: 1.6rem;
  letter-spacing: 0.27rem;
  text-transform: uppercase;
  display: block;
  margin-bottom: 1.12rem;
}

h1 {
  color: var(--white);
  font-size: 8rem;
  margin-bottom: 1.6rem;
}

p {
  font-size: 1.5rem;
  padding: 0 0.8rem;
  line-height: 2.5rem;
  color: var(--light-blue);
}

.circle {
  width: 15rem;
  height: 15rem;
  background-color: var(--white);
  border-radius: 50%;
  margin: 0 auto;
  display: grid;
  place-items: center;
  color: var(--dark-blue);
  font-family: "Bellefair", serif;
  text-transform: uppercase;
  font-size: 2rem;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.circle::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  top: 0;
  left: 0;
  z-index: 1;
  transform: scale(1.6);
  visibility: hidden;
  opacity: 0;
  transition: var(--transition);
}

.circle:hover::after {
  visibility: visible;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  nav {
    height: 12.8rem;
    padding-left: 3.2rem;
  }

  .logo {
    width: 4.8rem;
  }

  .mobile-menu {
    display: none;
  }

  .hero-img {
    background: url(../assets/home/background-home-tablet.jpg) center/cover
      no-repeat;
    min-height: 100vh;
    overflow: hidden;
  }

  .text {
    margin: 6.4rem 0 14.4rem;
  }

  h1 {
    color: var(--white);
    font-size: 15rem;
    line-height: 1;
  }

  p {
    font-size: 1.6rem;
    padding: 0;
    max-width: 44.5rem;
    margin: 0 auto;
    line-height: 2.8rem;
  }
  .sub-heading {
    font-size: 2rem;
    letter-spacing: 0.338rem;
  }
  .circle {
    width: 24.2rem;
    height: 24.2rem;
    font-size: 3.2rem;
    margin-bottom: 8rem;
  }

  .close-menu {
    display: none;
  }

  .navlinks {
    transform: unset;
    width: unset;
    height: unset;
    position: unset;
    top: 0;
    right: 0;
    padding: 0 4.8rem;
  }

  .navlinks a {
    font-size: 1.4rem;
    padding: 3.2rem 0;
    position: relative;
    display: inline-block;
  }

  .navlinks a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.3rem;
    background: var(--white);
    bottom: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
  }

  .navlinks a:hover::after {
    background: rgba(255, 255, 255, 0.5);
    opacity: 1;
    visibility: visible;
  }

  .navlinks a.active::after {
    opacity: 1;
    visibility: visible;
  }

  .navlinks ul {
    display: flex;
    gap: 4.8rem;
  }

  .nav-center {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  ul .no {
    display: none;
  }
}

@media screen and (min-width: 1300px) {
  nav {
    padding: 3.2rem 0 0 3.2rem;
  }

  .nav-center {
    position: relative;
  }

  ul .no {
    display: inline;
  }

  .desktop-line {
    height: 1px;
    width: 47.3rem;
    background: var(--white);
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
    left: 35rem;
    z-index: 3;
  }

  .hero-img {
    background: url(../assets/home/background-home-desktop.jpg) center/cover
      no-repeat;

    min-height: 110vh;
  }

  .navlinks {
    padding: 0 16rem 0 11.2rem;
  }

  .text {
    margin: 0;
    text-align: left;
  }

  .hero .container {
    display: flex;
    margin-top: 16rem;
    align-items: flex-end;
    justify-content: space-between;
  }

  .circle {
    margin: 0;
  }

  .sub-heading {
    letter-spacing: 0.472rem;
  }
}

@media screen and (min-width: 1440px) {
  .hero-img {
    height: 90rem;
  }

  .hero .container {
    display: flex;
    margin-top: 32rem;
  }

  .circle {
    width: 27.4rem;
    height: 27.4rem;
  }
}

/*
===================
    About Page
=================== 
*/

.about-page-img {
  background: url(../assets/destination/background-destination-mobile.jpg)
    center/cover no-repeat;

  min-height: 100vh;
}

.destination {
  color: var(--white);
  text-align: center;
}

.planets img {
  width: 17rem;
  object-fit: cover;
  display: none;
  margin: 0 auto;
}

h2 {
  font-size: 5.6rem;
}

/* .destination .active {
  display: block;
} */

.destination .no {
  color: rgba(255, 255, 255, 0.25);
}

.tabs {
  margin-top: 3.2rem;
}

.info-container {
  margin-top: 3.2rem;
}

.tab-btn-container {
  display: flex;
  column-gap: 3.2rem;
  justify-content: center;
}

.tab-btn {
  background: none;
  border: none;
  color: var(--white);
  position: relative;
  display: inline-block;
  padding-bottom: 0.8rem;
  font-size: 1.4rem;
  font-family: var(--subheading-font);
  letter-spacing: 0.236rem;
  text-transform: uppercase;
  cursor: pointer;
}

/* .tab-btn.active::before {
  content: "";
  position: absolute;
  height: 0.3rem;
  width: 100%;
  left: 0;
  bottom: 0;
  background: var(--white);
} */

.tab-btn::after {
  content: "";
  position: absolute;
  height: 0.3rem;
  width: 100%;
  left: 0;
  bottom: 0;
  background: var(--white);
  visibility: hidden;
  opacity: 0;
  transition: var(--transition);
}

.tab-btn.active::after {
  visibility: visible;
  opacity: 1;
}

.tab-btn:hover::after {
  visibility: visible;
  opacity: 1;
  background: rgba(255, 255, 255, 0.5);
}

.info {
  padding: 1.6rem 0;
  border-bottom: 0.1rem solid var(--light-blue);
}

.distance-container {
  padding: 3.2rem 0 6.4rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
}

.subheading-2 {
  font-size: 2.8rem;
  font-family: var(--heading-font);
  display: block;
}

.subheading-3 {
  font-size: 1.4rem;
  letter-spacing: 0.236rem;
  font-family: var(--subheading-font);
  color: var(--light-blue);
}

/* hide planets */

.planets img {
  display: none;
}

.planet-info-container {
  display: none;
}

.planet-info-container.active {
  display: block;
}

.planets img.active {
  display: block;
}

@media screen and (min-width: 768px) {
  .about-page-img {
    background: url(../assets/destination/background-destination-tablet.jpg)
      center/cover no-repeat;
    min-height: 100vh;
  }

  h2 {
    font-size: 8rem;
  }

  .planet-info-container {
    max-width: 57.5rem;
    margin: 0 auto;
  }

  .planets img {
    width: 30rem;
  }
  .destination .no {
    color: rgba(255, 255, 255, 0.25);
  }

  .destination .sub-heading {
    text-align: left;
  }
  .tabs {
    margin-top: 6.4rem;
  }
  .info-container {
    margin-top: 6.4rem;
  }
  .info {
    padding: 3.2rem 0;
  }

  .tab-btn {
    font-size: 1.6rem;
    letter-spacing: 0.27rem;
  }

  .planet-info-container p {
    max-width: 57.3rem;
    margin: 0 auto;
    margin-bottom: 1.6rem;
  }

  .distance-container {
    display: flex;
    flex-direction: row;
    column-gap: 9.6rem;
    justify-content: center;
  }
}

@media screen and (min-width: 1300px) {
  .about-page-img {
    background: url(../assets/destination/background-destination-desktop.jpg)
      center/cover no-repeat;

    min-height: 100vh;
  }

  h2 {
    font-size: 10rem;
  }

  .tabs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 16rem;
  }

  .planets img {
    width: 44.5rem;
  }

  .destination {
    text-align: left;
  }

  .tab-btn-container {
    display: flex;
    column-gap: 3.2rem;
    justify-content: start;
  }

  .info p {
    font-size: 1.8rem;
    line-height: 3.2rem;
  }

  .distance-container {
    column-gap: 6.4rem;
    justify-content: start;
  }
}

/*  
===================
      Crew
===================
*/

.crew-page-img {
  background: url(../assets/crew/background-crew-mobile.jpg) center/cover
    no-repeat;
  min-height: 100vh;
}

.crew {
  color: var(--white);
  text-align: center;
}

.crew-members-images {
  border-bottom: 1px solid var(--light-blue);
  margin-top: 3.2rem;
}

.crew .no {
  color: rgba(255, 255, 255, 0.25);
  margin-right: 0.8rem;
}

.crew-btn-container {
  display: flex;
  column-gap: 1.6rem;
  justify-content: center;
  padding: 3.2rem 0;
}

.crew-btn {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: none;
  background: rgba(255, 255, 255, 0.17);
  cursor: pointer;
}

.crew-btn.active {
  background: var(--white);
}

h4 {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.5);
}

h3 {
  font-size: 2.4rem;
  margin: 1.28rem 0 1.6rem;
}

/* hide the other crew only the crew member with the active class */

.crew-member-info {
  display: none;
}

.crew-member-info.active {
  display: block;
}

.crew-member-img {
  display: none;
  width: 45%;
  margin: 0 auto;
}

.crew-member-img.active {
  display: block;
}

@media screen and (min-width: 768px) {
  h4 {
    font-size: 2.4rem;
  }
  h3 {
    font-size: 4rem;
  }

  .crew .sub-heading {
    text-align: left;
  }
  .crew-page-img {
    background: url(../assets/crew/background-crew-tablet.jpg) center/cover
      no-repeat;
    min-height: 100vh;
    /* overflow: hidden; */
  }

  .crew-member-img {
    display: none;
    width: 60%;
    margin: 0 auto;
  }

  .crew-member-img:nth-child(2) {
    width: 50%;
  }

  .crew-member-img:nth-child(3) {
    width: 63%;
  }

  .crew-member-img:nth-child(4) {
    width: 70%;
  }

  .crew-info {
    display: grid;
    row-gap: 1rem;
  }

  .crew-members-images {
    grid-row: 2/3;
    border: none;
  }

  .crew-member-info p {
    max-width: 60rem;
  }

  .crew-members-info-container {
    grid-row: 1/2;
    display: grid;
    margin-top: 5rem;
    row-gap: 1.5rem;
  }

  .crew-member-info {
    grid-row: 1/2;
  }

  .crew-btn-container {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1300px) {
  h4 {
    font-size: 3.2rem;
  }
  h3 {
    font-size: 5.6rem;
  }

  .extra-margin {
    padding-top: 5rem;
  }

  .crew-page-img {
    background: url(../assets/crew/background-crew-desktop.jpg) center/cover
      no-repeat;
    min-height: 100vh;
  }

  .crew-info {
    grid-template-columns: 5fr 3fr;
    align-items: center;
    /* gap: 3rem; */
  }
  .crew-members-info-container {
    grid-row: 1/2;
    grid-column: 1/2;
    text-align: left;
  }

  .crew-btn-container {
    justify-content: flex-start;
  }

  .crew-members-images {
    grid-row: 1/2;
    grid-column: 2/3;
    margin: 0;
  }

  .crew-member-img {
    width: 100%;
    margin-right: 0;
  }

  .crew-member-info p {
    max-width: 40rem;
    margin: 0;
  }

  .crew-members-info-container {
    row-gap: 0;
  }
  .crew-btn-container {
    padding-top: 10rem;
  }

  .crew-member-img:nth-child(2) {
    width: 100%;
  }

  .crew-member-img:nth-child(3) {
    width: 100%;
  }

  .crew-member-img:nth-child(4) {
    width: 100%;
  }
}
